<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.ms.mapper.sys.SysParameterMapper">
    <resultMap id="SysParameterResultMap" type="com.gt.ms.entity.sys.SysParameter">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="key_" jdbcType="NVARCHAR" property="key"/>
        <result column="value_" jdbcType="NVARCHAR" property="value"/>
        <result column="type" jdbcType="NVARCHAR" property="type"/>
        <result column="remark" jdbcType="NVARCHAR" property="remark"/>
    </resultMap>

    <sql id="SysParameter_List">
  id,key_,value_,type,remark
  </sql>
    <select id="findPageCondition" parameterType="com.gt.ms.vo.PageInfo" resultMap="SysParameterResultMap">
        SELECT
        <include refid="SysParameter_List"/>
        FROM(

        SELECT TOP ${size+from} ROW_NUMBER() OVER(
        <choose>
            <when test="sort!=null and sort!='seq'">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by type ASC
            </otherwise>
        </choose>
        ) AS ROWID,*

        FROM Sys_Parameter
        ) AS TEMP1
        WHERE ROWID> ${from}
    </select>
    <select id="findPageCount" parameterType="com.gt.ms.vo.PageInfo" resultType="java.lang.Integer">
        SELECT COUNT (*)
        FROM Sys_Parameter
    </select>
    <select id="get" parameterType="java.lang.Long" resultMap="SysParameterResultMap">
        select
        <include refid="SysParameter_List"/>
        from [Sys_Parameter]
        where id = #{id}
    </select>
    <select id="getList" resultMap="SysParameterResultMap">
        select
        <include refid="SysParameter_List"/>
        from [Sys_Parameter]
    </select>
    <insert id="save" parameterType="com.gt.ms.entity.sys.SysParameter">
        insert into Sys_Parameter (id,key_,value_,type,remark)
        values (#{id},#{key}, #{value}, #{type},#{remark})
    </insert>
    <update id="update" parameterType="com.gt.ms.entity.sys.SysParameter">
        UPDATE Sys_Parameter
        <set>
            <if test="key!=null">
                key_ = #{key},
            </if>
            <if test="value!=null">
                value_ = #{value},
            </if>
            <if test="type!=null">
                type = #{type},
            </if>
            <if test="remark!=null">
                remark = #{remark},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="remove" parameterType="java.lang.Long">
        delete from Sys_Parameter where id = #{id}
    </delete>
</mapper>