<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.ms.mapper.finance.FinanceMapper">
    <resultMap id="FinanceResultMap" type="com.gt.ms.entity.finance.Finance">
        <id column="guid" jdbcType="INTEGER" property="guid"/>
        <result column="app_guid" jdbcType="NVARCHAR" property="appGuid"/>
        <result column="accountman" jdbcType="NVARCHAR" property="accountman"/>
        <result column="accountstate" jdbcType="NVARCHAR" property="accountstate"/>
        <result column="accountmemo" jdbcType="NVARCHAR" property="accountmemo"/>
        <result column="accountdate" jdbcType="NVARCHAR" property="accountdate"/>
        <result column="invoice" jdbcType="NVARCHAR" property="invoice"/>
        <result column="receiptcode" jdbcType="NVARCHAR" property="receiptcode"/>
        <result column="invoicedate" jdbcType="NVARCHAR" property="invoicedate"/>
        <result column="invoiceman" jdbcType="NVARCHAR" property="invoiceman"/>
        <result column="receivable" jdbcType="NVARCHAR" property="receivable"/>
        <result column="fpqx" jdbcType="NVARCHAR" property="fpqx"/>
        <result column="kddh" jdbcType="NVARCHAR" property="kddh"/>
        <result column="cjsj" jdbcType="TIMESTAMP" property="cjsj"/>
        <result column="cjid" jdbcType="NVARCHAR" property="cjid"/>
    </resultMap>

    <sql id="Finance_List">
    guid, app_guid,accountman,accountstate,accountmemo,accountdate,invoice,receiptcode,
    invoicedate,invoiceman,receivable,fpqx,kddh,cjsj,cjid
  </sql>

    <select id="get" parameterType="java.lang.Integer" resultMap="FinanceResultMap">
        select
        <include refid="Finance_List"/>
        from [finance]
        where guid = #{guid}
    </select>

    <insert id="save" parameterType="com.gt.ms.entity.finance.Finance">
        insert into finance (app_guid,accountman,accountstate,accountmemo,accountdate,invoice,receiptcode,
    invoicedate,invoiceman,receivable,fpqx,kddh,cjsj,cjid)
        values (#{appGuid}, #{accountman}, #{accountstate},
        #{accountmemo}, #{accountdate}, #{invoice},
        #{receiptcode}, #{invoicedate}, #{invoiceman},
        #{receivable},#{fpqx},#{kddh},#{cjsj},#{cjid})
    </insert>
</mapper>