<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.ms.mapper.finance.FinanceMapper">
    <resultMap id="FinanceResultMap" type="com.gt.ms.entity.finance.Finance">
        <id column="guid" jdbcType="INTEGER" property="guid"/>
        <result column="app_guid" jdbcType="NVARCHAR" property="appGuid"/>
        <result column="accountman" jdbcType="NVARCHAR" property="accountman"/>
        <result column="accountstate" jdbcType="NVARCHAR" property="accountstate"/>
        <result column="accountmemo" jdbcType="NVARCHAR" property="accountmemo"/>
        <result column="accountdate" jdbcType="NVARCHAR" property="accountdate"/>
        <result column="invoice" jdbcType="NVARCHAR" property="invoice"/>
        <result column="receiptcode" jdbcType="NVARCHAR" property="receiptcode"/>
        <result column="invoicedate" jdbcType="NVARCHAR" property="invoicedate"/>
        <result column="invoiceman" jdbcType="NVARCHAR" property="invoiceman"/>
        <result column="receivable" jdbcType="NVARCHAR" property="receivable"/>
        <result column="fpqx" jdbcType="NVARCHAR" property="fpqx"/>
        <result column="kddh" jdbcType="NVARCHAR" property="kddh"/>
        <result column="cjsj" jdbcType="TIMESTAMP" property="cjsj"/>
        <result column="cjid" jdbcType="NVARCHAR" property="cjid"/>
        <result column="depositAccount" jdbcType="NVARCHAR" property="depositAccount"/>
        <result column="payProvePic" jdbcType="NVARCHAR" property="payProvePic"/>
        <association property="application" resultMap="ApplicationResultMap"/>
    </resultMap>
    <resultMap id="ApplicationResultMap" type="com.gt.ms.entity.sqs.Application">
        <id column="application_guid" jdbcType="NVARCHAR" property="guid"/>
        <result column="app_ctm_Code" jdbcType="NVARCHAR" property="ctmCode"/>
        <result column="app_ctm_name" jdbcType="NVARCHAR" property="ctmName"/>
        <result column="app_ctm_addr" jdbcType="NVARCHAR" property="ctmAddr"/>
        <result column="app_app_Name" jdbcType="NVARCHAR" property="appName"/>
        <result column="app_app_Type" jdbcType="INTEGER" property="appType"/>
        <result column="app_gui_Fei" jdbcType="DOUBLE" property="guiFei"/>
        <result column="app_agent_Fei" jdbcType="DOUBLE" property="agentFei"/>
        <result column="app_pice" jdbcType="DOUBLE" property="pice"/>
        <result column="app_cjid" jdbcType="NVARCHAR" property="cjid"/>
        <result column="app_cjsj" jdbcType="TIMESTAMP" property="cjsj"/>
        <result column="app_status" jdbcType="INTEGER" property="status"/>
        <result column="app_agent_Number" jdbcType="NVARCHAR" property="agentNumber"/>
        <result column="app_dlguid" jdbcType="NVARCHAR" property="dlguid"/>
    </resultMap>
    <resultMap id="StatisticsVoResultMap" type="com.gt.ms.vo.statistics.StatisticsVo">
        <result column="ctmRegDate" property="ctmRegDate" jdbcType="NVARCHAR"/>
        <result column="counts" property="counts" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="OpNewFinanceVoResultMap" type="com.gt.ms.vo.statistics.OpNewFinanceVo">
        <result column="cjid" property="cjid" jdbcType="NVARCHAR"/>
        <result column="agentFei" property="agentFei" jdbcType="DOUBLE"/>
        <result column="guiFei" property="guiFei" jdbcType="DOUBLE"/>
        <result column="pice" property="pice" jdbcType="DOUBLE"/>
    </resultMap>
    <sql id="Finance_List">
    guid, app_guid,accountman,accountstate,accountmemo,accountdate,invoice,receiptcode,
    invoicedate,invoiceman,receivable,fpqx,kddh,cjsj,cjid,depositAccount,payProvePic
  </sql>
    <select id="getPiceByCjsjGourpByOp" parameterType="java.util.Map" resultMap="OpNewFinanceVoResultMap">
        SELECT
        TOP 1000 a.cjid as cjid,
        SUM (a.agent_fei) as agentFei,
        SUM (a.gui_fei) as guiFei,
        SUM (a.pice) as pice
        FROM
        dbo.[finance] f
        INNER JOIN application a ON f.app_guid = a.guid
        WHERE
        f.accountstate = 1
        <if test="startTime !=null and startTime !=''">
            and convert(nvarchar(10),f.accountdate,120) &gt;= #{startTime}
        </if>
        <if test="endTime !=null and endTime !=''">
            and convert(nvarchar(10),f.accountdate,120) &lt;= #{endTime}
        </if>
        GROUP BY
        a.cjid
        ORDER BY
        SUM (a.pice) desc

    </select>
    <select id="getCountByCjsj" parameterType="java.util.Map" resultMap="StatisticsVoResultMap">
        SELECT
        top 1000
        convert(nvarchar(10),accountdate,120)  as ctmRegDate,
        convert(int,ISNULL(SUM (pice),0)) AS counts
        FROM
        dbo.[finance] f INNER JOIN application a on f.app_guid = a.guid
        where
        f.accountstate = 1
        <if test="startTime !=null and startTime !=''">
            and convert(nvarchar(10),accountdate,120) &gt;= #{startTime}
        </if>
        <if test="endTime !=null and endTime !=''">
            and convert(nvarchar(10),accountdate,120) &lt;= #{endTime}
        </if>
        GROUP BY
        convert(nvarchar(10),accountdate,120)
        ORDER BY
        convert(nvarchar(10),accountdate,120) asc

    </select>
    <sql id="Finance_List2">
        f.*,
        a.guid as application_guid, a.ctm_code as  app_ctm_Code,a.ctm_name as app_ctm_name, a.ctm_addr as app_ctm_addr,
        a.app_name as app_app_Name, a.app_type as app_app_Type, a.gui_fei as app_gui_Fei,a.agent_fei as app_agent_Fei,
        a.pice as app_pice,a.cjid as app_cjid,a.cjsj as  app_cjsj,a.status as app_status,
        a.agent_number as app_agent_Number,a.dlguid as app_dlguid
    </sql>
    <select id="findPageCondition" parameterType="com.gt.ms.vo.PageInfo" resultMap="FinanceResultMap">
        SELECT
        *
        FROM(

        SELECT TOP ${size+from} ROW_NUMBER() OVER(
        <choose>
            <when test="sort!=null and sort!='seq'">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by guid DESC
            </otherwise>
        </choose>
        ) AS ROWID,
        <include refid="Finance_List2"/>

        FROM finance f inner JOIN application a on f.app_guid = a.guid
        <where>
            <if test="condition.makeOpQx!=null and condition.makeOpQx!=''">
                a.cjid = #{condition.makeOpQx}
            </if>
            <if test="condition.appName!=null and condition.appName!=''">
                and a.app_name like '%${condition.appName}%'
            </if>
            <if test="condition.ctmName!=null and condition.ctmName!=''">
                and a.ctm_name like '%${condition.ctmName}%'
            </if>
            <if test="condition.agentNumber!=null and condition.agentNumber!=''">
                and a.agent_number = #{condition.agentNumber}
            </if>
        </where>
        ) AS TEMP1
        WHERE ROWID> ${from}
    </select>
    <select id="findPageCount" parameterType="com.gt.ms.vo.PageInfo" resultType="java.lang.Integer">
        SELECT COUNT (*)
        FROM finance f inner JOIN application a on f.app_guid = a.guid
        <where>
            <if test="condition.makeOpQx!=null and condition.makeOpQx!=''">
                a.cjid = #{condition.makeOpQx}
            </if>
            <if test="condition.appName!=null and condition.appName!=''">
                and a.app_name like '%${condition.appName}%'
            </if>
            <if test="condition.ctmName!=null and condition.ctmName!=''">
                and a.ctm_name like '%${condition.ctmName}%'
            </if>
            <if test="condition.agentNumber!=null and condition.agentNumber!=''">
                and a.agent_number = #{condition.agentNumber}
            </if>
        </where>
    </select>
    <select id="get" parameterType="java.lang.Integer" resultMap="FinanceResultMap">
        select
        <include refid="Finance_List"/>
        from [finance]
        where guid = #{guid}
    </select>

    <insert id="save" parameterType="com.gt.ms.entity.finance.Finance">
        insert into finance (app_guid,accountman,accountstate,accountmemo,accountdate,invoice,receiptcode,
    invoicedate,invoiceman,receivable,fpqx,kddh,cjsj,cjid,depositAccount,payProvePic)
        values (#{appGuid}, #{accountman}, #{accountstate},
        #{accountmemo}, #{accountdate}, #{invoice},
        #{receiptcode}, #{invoicedate}, #{invoiceman},
        #{receivable},#{fpqx},#{kddh},#{cjsj},#{cjid},#{depositAccount},#{payProvePic})
    </insert>
    <update id="update" parameterType="com.gt.ms.entity.finance.Finance">
        update finance
        <set>
            cjsj = cjsj,
            <if test="accountman != null">
                accountman = #{accountman},
            </if>
            <if test="accountstate != null">
                accountstate = #{accountstate},
            </if>
            <if test="accountmemo != null">
                accountmemo = #{accountmemo},
            </if>
            <if test="accountdate != null">
                accountdate = #{accountdate},
            </if>
            <if test="invoice != null">
                invoice = #{invoice},
            </if>
            <if test="receiptcode != null">
                receiptcode = #{receiptcode},
            </if>
            <if test="invoicedate != null">
                invoicedate = #{invoicedate},
            </if>
            <if test="invoiceman != null">
                invoiceman = #{invoiceman},
            </if>
            <if test="receivable != null">
                receivable = #{receivable},
            </if>
            <if test="fpqx != null">
                fpqx = #{fpqx},
            </if>
            <if test="kddh != null">
                kddh = #{kddh},
            </if>
            <if test="depositAccount != null">
                depositAccount = #{depositAccount},
            </if>
            <if test="payProvePic != null">
                payProvePic = #{payProvePic},
            </if>
        </set>
        where guid = #{guid}
    </update>
</mapper>