<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.ms.mapper.sqs.ApplicationMapper">
    <resultMap id="ApplicationResultMap" type="com.gt.ms.entity.sqs.Application">
        <id column="guid" jdbcType="NVARCHAR" property="guid"/>
        <result column="ctm_Code" jdbcType="NVARCHAR" property="ctmCode"/>
        <result column="ctm_name" jdbcType="NVARCHAR" property="ctmName"/>
        <result column="ctm_addr" jdbcType="NVARCHAR" property="ctmAddr"/>
        <result column="app_Name" jdbcType="NVARCHAR" property="appName"/>
        <result column="app_Type" jdbcType="INTEGER" property="appType"/>
        <result column="gui_Fei" jdbcType="DOUBLE" property="guiFei"/>
        <result column="agent_Fei" jdbcType="DOUBLE" property="agentFei"/>
        <result column="pice" jdbcType="DOUBLE" property="pice"/>
        <result column="cjid" jdbcType="NVARCHAR" property="cjid"/>
        <result column="cjsj" jdbcType="TIMESTAMP" property="cjsj"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="agent_Number" jdbcType="NVARCHAR" property="agentNumber"/>
        <result column="dlguid" jdbcType="NVARCHAR" property="dlguid"/>
        <result column="app_counts" jdbcType="INTEGER" property="appCounts"/>
        <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime"/>
        <result column="submit_op" jdbcType="NVARCHAR" property="submitOp"/>
    </resultMap>
    <resultMap id="StatisticsVoResultMap" type="com.gt.ms.vo.statistics.StatisticsVo">
        <result column="ctmRegDate" property="ctmRegDate" jdbcType="NVARCHAR"/>
        <result column="counts" property="counts" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Application_List">
    guid, ctm_Code,ctm_name,ctm_addr,app_Name,app_Type,gui_Fei,agent_Fei,
    pice,cjid,cjsj,status,agent_Number,dlguid,app_counts,submit_time,submit_op
  </sql>


    <select id="getCountByCjsj" parameterType="java.util.Map" resultMap="StatisticsVoResultMap">
        SELECT
        top 1000
        convert(nvarchar(10),cjsj,120)  as ctmRegDate,
        COUNT (convert(nvarchar(10),cjsj,120)) AS counts
        FROM
        dbo.[application]
        where
        1=1
        <if test="startTime !=null and startTime !=''">
            and  convert(nvarchar(10),cjsj,120) &gt;= #{startTime}
        </if>
        <if test="endTime !=null and endTime !=''">
            and  convert(nvarchar(10),cjsj,120) &lt;= #{endTime}
        </if>
        GROUP BY
        convert(nvarchar(10),cjsj,120)
        ORDER BY
        convert(nvarchar(10),cjsj,120) asc

    </select>

    <select id="findPageCondition" parameterType="com.gt.ms.vo.PageInfo" resultMap="ApplicationResultMap">
        SELECT
        <include refid="Application_List"/>
        FROM(

        SELECT TOP ${size+from} ROW_NUMBER() OVER(
        <choose>
            <when test="sort!=null and sort!='seq'">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by guid DESC
            </otherwise>
        </choose>
        ) AS ROWID,*

        FROM application
        <where>
            <if test="condition.makeOpQx!=null and condition.makeOpQx!=''">
                cjid = #{condition.makeOpQx}
            </if>
            <if test="condition.appName!=null and condition.appName!=''">
                and app_name like '%${condition.appName}%'
            </if>
            <if test="condition.ctmName!=null and condition.ctmName!=''">
                and ctm_name like '%${condition.ctmName}%'
            </if>
            <if test="condition.agentNumber!=null and condition.agentNumber!=''">
                and agent_number = #{condition.agentNumber}
            </if>
        </where>
        ) AS TEMP1
        WHERE ROWID> ${from}
    </select>
    <select id="findPageCount" parameterType="com.gt.ms.vo.PageInfo" resultType="java.lang.Integer">
        SELECT COUNT (*)
        FROM application
        <where>
            <if test="condition.makeOpQx!=null and condition.makeOpQx!=''">
                cjid = #{condition.makeOpQx}
            </if>
            <if test="condition.appName!=null and condition.appName!=''">
                and app_name like '%${condition.appName}%'
            </if>
            <if test="condition.ctmName!=null and condition.ctmName!=''">
                and ctm_name like '%${condition.ctmName}%'
            </if>
            <if test="condition.agentNumber!=null and condition.agentNumber!=''">
                and agent_number = #{condition.agentNumber}
            </if>
        </where>
    </select>
    <select id="getCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
        COUNT (*)
        from [application]
        where guid = #{guid}
    </select>
    <select id="getCountByAppType" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
        COUNT (*)
        from [application]
        where app_Type = #{appType}
    </select>
    <select id="get" parameterType="java.lang.String" resultMap="ApplicationResultMap">
        select
        <include refid="Application_List"/>
        from [application]
        where guid = #{guid}
    </select>

    <insert id="save" parameterType="com.gt.ms.entity.sqs.Application">
        insert into application (guid,ctm_Code, ctm_name, ctm_addr,
        app_Name, app_Type, gui_Fei,
        agent_Fei, pice, cjid,
        cjsj,status,agent_Number,dlguid,app_counts,submit_time,submit_op)
        values (#{guid},#{ctmCode}, #{ctmName}, #{ctmAddr},
        #{appName}, #{appType}, #{guiFei},
        #{agentFei}, #{pice}, #{cjid},
        #{cjsj},#{status},#{agentNumber},#{dlguid},#{appCounts},#{submitTime},#{submitOp})
    </insert>

    <update id="update" parameterType="com.gt.ms.entity.sqs.Application">
        update application
        <set>
            <if test="ctmCode!=null">
                ctm_Code = #{ctmCode},
            </if>
            <if test="ctmName!=null">
                ctm_Name = #{ctmName},
            </if>
            <if test="ctmAddr!=null">
                ctm_Addr = #{ctmAddr},
            </if>
            <if test="appName!=null">
                app_Name = #{appName},
            </if>
            <if test="appType!=null">
                app_Type = #{appType},
            </if>
            <if test="guiFei!=null">
                gui_Fei = #{guiFei},
            </if>
            <if test="agentFei!=null">
                agent_Fei = #{agentFei},
            </if>
            <if test="pice!=null">
                pice = #{pice},
            </if>
            <if test="cjid!=null">
                cjid = #{cjid},
            </if>
            <if test="status!=null">
                status = #{status},
            </if>
            <if test="agentNumber!=null">
                agent_Number = #{agentNumber},
            </if>
            <if test="dlguid!=null">
                dlguid = #{dlguid},
            </if>
            <if test="appCounts!=null">
                app_counts = #{appCounts},
            </if>
            <if test="submitTime!=null">
                submit_time = #{submitTime},
            </if>
            <if test="submitOp!=null">
                submit_op = #{submitOp},
            </if>
        </set>
        where guid = #{guid}
    </update>

    <delete id="remove" parameterType="java.lang.String">
        delete from application
        where guid = #{guid}
    </delete>
</mapper>