<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.ms.mapper.common.SysAreaCountryMapper">
    <resultMap id="BaseResultMap" type="com.gt.ms.entity.common.SysAreaCountry">
        <result column="gjid" jdbcType="NVARCHAR" property="gjid"/>
        <result column="gjmc" jdbcType="NVARCHAR" property="gjmc"/>
        <result column="gjpy" jdbcType="NVARCHAR" property="gjpy"/>
    </resultMap>
    <sql id="Base_Column_List">
    gjid, gjmc, gjpy
  </sql>
    <select id="get" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_area_country
        where gjid = #{gjid}
    </select>
    <delete id="remove" parameterType="java.lang.String">
        delete from sys_area_country
        where gjid = #{gjid}
    </delete>
    <insert id="save" parameterType="com.gt.ms.entity.common.SysAreaCountry">
    insert into sys_area_country (gjid, gjmc, gjpy
      )
    values (#{gjid,jdbcType=NVARCHAR}, #{gjmc,jdbcType=NVARCHAR}, #{gjpy,jdbcType=NVARCHAR}
      )
  </insert>
    <update id="update" parameterType="com.gt.ms.entity.common.SysAreaCountry">
        update sys_area_country
        <set>
            <if test="record.gjmc != null">
                gjmc = #{record.gjmc,jdbcType=NVARCHAR},
            </if>
            <if test="record.gjpy != null">
                gjpy = #{record.gjpy,jdbcType=NVARCHAR},
            </if>
        </set>
        where gjid = #{gjid}
    </update>
</mapper>