<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.img.mapper.AppImageMapper">
    <resultMap id="BaseResultMap" type="com.gt.img.entity.AppImage">
        <result column="guid" jdbcType="NVARCHAR" property="guid"/>
        <result column="dlguid" jdbcType="NVARCHAR" property="dlguid"/>
        <result column="appno" jdbcType="NVARCHAR" property="appno"/>
        <result column="appguid" jdbcType="NVARCHAR" property="appguid"/>
        <result column="agent_number" jdbcType="NVARCHAR" property="agentNumber"/>
        <result column="zllb" jdbcType="NVARCHAR" property="zllb"/>
        <result column="zlmc" jdbcType="NVARCHAR" property="zlmc"/>
        <result column="zltp" jdbcType="LONGVARBINARY" property="zltp"/>
        <result column="tpkj" jdbcType="NVARCHAR" property="tpkj"/>
        <result column="make_op" jdbcType="NVARCHAR" property="makeOp"/>
        <result column="cjsj" jdbcType="TIMESTAMP" property="cjsj"/>
        <result column="tpwjgs" jdbcType="NVARCHAR" property="tpwjgs"/>
    </resultMap>
    <sql id="Base_Column_List">
    guid,dlguid,appno,appguid,agent_number,zllb,zlmc,zltp,tpkj,make_op,cjsj,tpwjgs
  </sql>
    <insert id="save" parameterType="com.gt.img.entity.AppImage">
        INSERT into app_image
        values(#{guid},#{dlguid},#{appno},#{appguid},#{agentNumber},#{zllb},#{zlmc},#{zltp},#{tpkj},
        #{makeOp},#{cjsj},#{tpwjgs})
    </insert>

    <update id="update" parameterType="com.gt.img.entity.AppImage">
        update app_image
        <set>
            <if test="dlguid != null">
                dlguid = #{dlguid},
            </if>
            <if test="appno != null">
                appno = #{appno},
            </if>
            <if test="appguid != null">
                appguid = #{appguid},
            </if>
            <if test="agentNumber != null">
                agent_number = #{agentNumber},
            </if>
            <if test="zllb != null">
                zllb = #{zllb},
            </if>
            <if test="zlmc != null">
                zlmc = #{zlmc},
            </if>
            <if test="zltp != null">
                zltp = #{zltp},
            </if>
            <if test="tpkj != null">
                tpkj = #{tpkj},
            </if>
            <if test="makeOp != null">
                make_op = #{makeOp},
            </if>
            <if test="cjsj != null">
                cjsj = #{cjsj},
            </if>
            <if test="tpwjgs != null">
                tpwjgs = #{tpwjgs},
            </if>
        </set>
        where guid  = #{guid}
    </update>

    <select id="getByAppguid" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        from app_image
        WHERE
        appguid = #{appguid}
    </select>
    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        from app_image
        WHERE
        guid = #{guid}
    </select>
    <select id="getMaxGuid" resultType="java.lang.String" >
        SELECT
        top 1 guid
        from app_image
        order by guid desc
    </select>
    <delete id="removeByAppguid" parameterType="java.lang.String">
        delete from app_image
        where appguid = #{guid}
    </delete>
</mapper>